apiVersion: v1
kind: Secret
metadata:
  name: {{ _mtv_provider_secret_name }}
  namespace: {{ mtv_provider_provider_namespace }}
  labels:
    createdForProviderType: {{ _mtv_provider_forklift_type }}
    createdForResourceType: providers
    app.kubernetes.io/managed-by: ansible-migration-factory
type: Opaque
stringData:
  user: {{ mf_source_username | to_json }}
  password: {{ mf_source_password | to_json }}
{% if mf_insecure_skip_tls_verify | default(false) | bool %}
  insecureSkipVerify: "true"
{% elif _mtv_provider_source_certificate | default('') | length > 0 %}
  ca.crt: {{ _mtv_provider_source_certificate | to_json }}
{% endif %}
