# TO-DO: add python packages that are required for testing this collection
pytest-ansible
pytest-xdist
pytest-cov
coverage
molecule
tox>=4.15.1,<4.28
tox-ansible<26.2.2
black
jmespath
ansible-core
ansible-lint
antsibull-changelog
distlib
pyyaml
